<div class="category-menu" aria-label="Categories">
  @if (loading$ | async) {
    <span class="category-menu__hint">Loading…</span>
  } @else if (error$ | async; as err) {
    <span class="category-menu__hint" role="alert">{{ err }}</span>
  } @else {
    <app-category-mega-menu #rootMenu [nodes]="(menuForToolbar$ | async) ?? []" />
    @if (rootMenu.menu) {
      <button
        type="button"
        mat-button
        [matMenuTriggerFor]="rootMenu.menu"
        class="category-menu__trigger app-toolbar__link"
      >
        <span class="category-menu__trigger-label">Categories</span>
        <mat-icon class="category-menu__trigger-chevron" aria-hidden="true">keyboard_arrow_down</mat-icon>
      </button>
    }
  }
</div>
